<!DOCTYPE html>
<html lang="en">
<!-- This is the html code for movies -->
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="Description" content= "Check the latest movie reviews, ratings by movie critics and fans">
    <meta name="Keywords" content="Swiftmovies, movies, reviews, latest movies, cast, ratings">
    <meta name="Robots" content="INDEX, FOLLOW">
    <title>Swiftmovies</title>
    <link rel="stylesheet" href="main.css">
</head>
<body>
    <div class = "left">Back</div>
    <div class = "centre"></div>
    &nbsp;&nbsp;&nbsp;&nbsp;
    <div class = "a">
        <h1>WELCOME TO SWIFTMOVIES</h1>
    </div>
    <div class = "b">
        <h1>Movies' reviews, cast and more.</h1>
    </div>
    <div class = "c">
        <h2>Drop the movie name you want to search for!</h2>
    </div>
    <center>
    <br>
    <form class="example" action="action_page.php">
        <input type="text" placeholder="Movie Name" name="search">
        <button type="submit">Submit<i class="fa fa-search"></i></button>
      </form>
    </center>
    &nbsp;
    <br><br>
    <hr>
    <div class = "d">
       <h1><strong>TOP PICKS</strong></h1>
      <h2>Look for the top rated bollywood movies!</h2> 
    </div>
    <img src="Best-From-Bollywood-2019-Editors-Pick.jpg" alt="Network issue. Reload!" width = "700" height = "500">
    <br>
    <br>
    <hr>
    <div class = "e">
    <h1><strong>300 CRORES CLUB</strong></h1>
    </div>
    <div class="row">
        <div class="column">
          <img src="badri.jpg">
          <img src="baby.jpg" height="280" width="300">
          <img src="special.jpg" height="280" width="270">
        </div>
        <div class="column">
          <img src="war.jpg" width="250" height="360">
          <img src="padmawat.jpg"width="250">
          <img src="bala.jpg"width="250">
        </div>
    <br>
    <br>
    <div class="topnav">
            <a class="active" href="#home">Home</a>
            <a href="#MovieListings">MovieListings</a>
            <a href="#about">About</a>
    </div>
    
</body>
</html>